.DS_Store
.svn
.idea
*~
*.pyc
xcuserdata
.swiftpm
/build
.build
duplication.xml
Coverage
test-reports
XcodeBuild
Packages/XcodeBuild
LifeGame.xcodeproj/xcshareddata/*.xcuserdatad
Resources/Precache.bundle/*
a11yIds.txt
addFeauters.txt
LifeGame.xcodeproj/xcshareddata